/* roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

:root {
  /* color */
  --white-color: #fff;
  --dark-color: #565252;
  --primary-color: #3d3c36;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  /* font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* site max width */
  --site-max-width: 1300px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--light-pink-color);
}

/* stylings for whole site */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

.section-title {
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
}

.section-title:after,
.about-h2:after {
  content: "";
  display: block;
  width: 80px;
  height: 5px;
  margin: 10px auto 0;
  border-radius: 8px;
  background: var(--secondary-color);
}

img {
  width: 100%;
}

/* navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  backdrop-filter: blur (35px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  color: var(--white-color);
}

.logo span,
.footer-credit span {
  color: var(--secondary-color);
}

.navbar a {
  display: inline-block;
  font-size: var(--font-size-l);
  color: var(--white-color);
  margin-left: 3rem;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: var(--secondary-color);
}

header.scrolled {
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--white-color);

}

header.scrolled nav a,
header.scrolled .logo,
header.scrolled #menu-icon {
  color: var(--white-color);
}

.navbar a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--secondary-color);
  transform: scaleX(0);
  transition: 0.2s ease;
}

.navbar a:hover::after {
  transform: scaleX(0.5);
}

#menu-icon {
  display: none;
  color: var(--white-color);
}

/* home */
.hero-section {
  min-height: 100vh;
  background: var(--primary-color);
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
  color: var(--white-color);
}

.hero-section .hero-details .title {
  font-size: var(--font-size-l);
  color: var(--secondary-color);
}

.hero-section .hero-details .subtitle {
  margin: 10px 0 40px;
  max-width: 70%;

  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 45px;
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 30px;
  font-size: var(--font-size-n);
  color: var(--primary-color);
  text-decoration: none;
  font-weight: var(--font-weight-semibold);
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}

.btn-box a {
  background: transparent;
  color: var(--white-color);
}

.btn-box a:hover {
  color: var(--primary-color);
}

.btn-box a::before {
  background: var(--secondary-color);
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  transition: 0.3s linear;
}

.btn-box a:hover::before {
  width: 100%;
}

.hero-section .hero-image-wrapper {
  max-width: 600px;
  margin-right: 30px;
}

/* about */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  padding: 50px 50px;
  gap: 8rem;
}

.image-container img {
  width: 120%;
}

.text-container {
  padding: 20px;
}

.text-container h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  margin-bottom: 1.5rem;
}

.text-container p {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.8;
}

/* menu */
.menu-section {
  padding: 50px 0 100px;
  color: var(--white-color);
  background: var(--primary-color);
}

.menu-section .menu-list {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.menu-section .menu-list .menu-item {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image {
  max-width: 83%;
  margin-bottom: .7rem;
  aspect-ratio: 1;
  object-fit: contain;
}

.menu-section .menu-list .menu-item .name {
  margin: 12px 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-meidum);
}

.menu-section .menu-list .menu-item .text {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);
  margin-bottom: 1rem;
}

.menu-section .menu-list .menu-item .menu-btn {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  color: var(--white-color);
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 50px ;
}

/* Contact Section */
.contact-section {
  width: 100%;
  margin: 40px auto;
  /* background: var(--white-color); */
  padding: 50px;
  /* border-radius: 15px; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.contact-content {
  text-align: center;
  width: 100%;
}

.contact-info,
.map-container {
  display: inline-block;
  vertical-align: top;
}

.contact-info {
  width: 45%;
  text-align: left;
  padding: 10px;
}

.map-container {
  width: 50%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-item {
  background: #fff7ed;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-item h3 {
  font-size: var(--font-size-m);
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-item a,
.contact-item p {
  font-size: var(--font-size-s);
  text-decoration: none;
  color: var(--dark-color);
  font-weight: var(--font-weight-semibold);
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Footer */
footer {
  background: var(--primary-color);
  color: var(--white-color) ;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}

.footer-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: var(--white-color);
  text-decoration: none;
  margin: 0 15px;
  font-weight: var(--font-weight-semibold);
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--secondary-color);
}

.footer-credit {
  font-size: .9rem;
  opacity: 0.7;
}

.footer-credit {
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .menu-section .menu-list {
    gap: 60px;
  }

  .menu-section .menu-list .menu-item {
    width: calc(100% / 3 - 60px);
  }

  .contact-section {
    width: 90%;
    margin: 50px auto;
  }
  .contact-info,
  .map-container {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
  }

  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.8;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  img {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
  }

  /* navbar */
  #menu-icon {
    font-size: var(--font-size-xxl);
    display: block;
  }

  .logo {
    font-size: var(--font-size-xl);
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 3rem 3%;
    background: var(--white-color);
    backdrop-filter: blur(20px);
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    display: none;
  }

  .navbar.active {
    display: block;
  }

  header.scrolled nav a {
    color: var(--primary-color);
  }

  .navbar a {
    display: block;
    margin: 0.5rem 0.5rem;
    font-size: var(--font-size-m);
    color: var(--primary-color);
  }

  .navbar a::after {
    border-bottom: none;
  }

  /* home */
  .hero-section .section-content {
    gap: 50px;
    padding: 30px 20px 20px;

    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-section .hero-details :is(.title, .subtitle),
  .about-section .about-details {
    max-width: 100%;
  }

  .hero-section .hero-image-wrapper {
    max-width: 270px;
    margin-right: 0;
  }

  /* about */
  .container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2.5rem;
  }
  .text-container {
    padding-top: 20px;
  }
  .image-container img {
    max-width: 350px;
  }

  /* menu */
  .menu-section .menu-list {
    gap: 30px;
  }

  .menu-section .menu-list .menu-item {
    width: calc(100% / 2 - 30px);
  }

  .menu-section .menu-list .menu-item .menu-image {
    max-width: 200px;
  }

  footer {
    padding: 25px 0;
    margin-top: 30px;
  }

  .footer-links {
    margin-bottom: .6rem;
  }
  
  .footer-links a {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-semibold);
    text-decoration: none;
    margin: 0 10px;
  }
}

@media screen and (max-width: 640px) {
  .menu-section .menu-list {
    gap: 60px;
  }

  .menu-section .menu-list .menu-item {
    width: 100%;
  }
}
